*~
*.log
*.o
*.obj
*.trs
Makefile.in
Makefile
version.texi
stamp-vti
stamp-h1
/autom4te.cache
/config
/aclocal.m4
/INSTALL
/config.h
/config.h.in
/config.status
/configure
/doc/*.info
/doc/*.html
/doc/*.1
/src/.deps
/src/uz80as
